/*=========================================================================================
    File Name: featherIcon.scss
    Description: Feather icon component's scss. Imported in FeatherIcon.vue file
    ----------------------------------------------------------------------------------------
    Item Name: Syntha
      Author: Christopher Breland
    Author Email: SeaBreez7890@gmail.com
==========================================================================================*/


.feather-icon {
    display: inline-flex;
    align-items: center;
}
